name: Lint rmw_iceoryx
on:
  pull_request:

jobs:
  lint:
    name: ament_${{ matrix.linter }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
          linter: [cppcheck, cpplint, uncrustify, xmllint, copyright]
    steps:
    - uses: actions/checkout@v2
    - uses: ros-tooling/setup-ros@0.1.4
    - uses: ros-tooling/action-ros-lint@0.1.3
      with:
        linter: ${{ matrix.linter }}
        package-name: |
            rmw_iceoryx_cpp
            iceoryx_ros2_bridge
